<div class="wrapper">
  <section class="stats">
    <div class="stats__item">
      <img class="stats__img" src="./assets/images/stats/users.png" alt="users">
      <p class="stats__number">{{'725m' | uppercase}}</p>
      <p class="stats__desc">Happy User</p>
    </div>
    <div class="stats__item">
      <img class="stats__img" src="./assets/images/stats/appreciation.png" alt="appreciation">
      <p class="stats__number">{{'700m' | uppercase}}</p>
      <p class="stats__desc">User Appreciation</p>
    </div><div class="stats__item">
    <img class="stats__img" src="./assets/images/stats/payment.png" alt="payment">
    <p class="stats__number">{{'10m+' | uppercase}}</p>
    <p class="stats__desc">Payment Service</p>
  </div>
    <div class="stats__item">
      <img class="stats__img" src="./assets/images/stats/feedback.png" alt="feedback">
      <p class="stats__number">{{'600m' | uppercase}}</p>
      <p class="stats__desc">User Feedback</p>
    </div>
  </section>
</div>
