<div class="wrapper">
  <section class="app-form">
    <h3 class="app-form__title">Your Message</h3>
    <form class="app-form__body">
      <div class="app-form__group">
        <input class="app-form__input" placeholder="Your Name">
        <input class="app-form__input" placeholder="Email Address">
        <input class="app-form__input" placeholder="Subject">
      </div>
      <div class="app-form__group">
        <textarea class="app-form__text-area" placeholder="Message"></textarea>
        <button class="app-form__button" type="submit">Submit</button>
      </div>
    </form>
  </section>
</div>
