<div class="wrapper">
  <section class="get-card">
    <div class="get-card__header">
      <h2 class="get-card__header get-card__header_h">{{'easy process' | uppercase}}</h2>
      <p class="get-card__header get-card__header_sub-h">{{'to get a credit card' | uppercase}}</p>
    </div>
    <div class="get-card__pipe">
      <div class="get-card__item">
        <img class="get-card__img" src="./assets/images/get-card/graph.png" width="100" alt="graph">
        <h3 class="get-card__h">{{'online application' | uppercase}}</h3>
        <p class="get-card__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto autem ipsam, quisquam tenetur vero?</p>
      </div>
      <div class="get-card__item">
        <img class="get-card__img" src="./assets/images/get-card/handshake.png" width="100" alt="handshake">
        <h3 class="get-card__h">{{'get approval' | uppercase}}</h3>
        <p class="get-card__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti incidunt libero omnis repellendus tempora.</p>
      </div>
      <div class="get-card__item">
        <img class="get-card__img" src="./assets/images/get-card/card.png" width="100" alt="card">
        <h3 class="get-card__h">{{'get your card' | uppercase}}</h3>
        <p class="get-card__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis modi nostrum obcaecati quisquam repellendus?</p>
      </div>
    </div>
  </section>
</div>

